@font-face {
  font-family: 'Beatrice Display';
  src: local('Beatrice Display'), url(./assets/fonts/BeatriceDisplayBlack.otf) format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'Beatrice Display';
  src: local('Beatrice Display'), url(./assets/fonts/BeatriceDisplayBold.otf) format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Beatrice Display';
  src: local('Beatrice Display'), url(./assets/fonts/BeatriceDisplayRegular.otf) format('opentype');
  font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Ubuntu:wght@700&family=Yeseva+One&display=swap');


:root {
  --font-heading: "Beatrice Display", cursive;
  --font-body: 'Ubuntu', sans-serif;

  --color-primary: #7d2ef8;
  --color-secondary: #fcfb16;
  --color-tertiary: #c0eaf6;
  --color-dark-blue: #050197;
  --color-dark-green: #1B4024;

  --container-max-width: 1284px;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  background-color: var(--color-primary);
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: var(--font-heading);
}

header,
main {
  display: flex;
  justify-content: center;
}

.logo {
  font-family: var(--font-heading);
  font-weight: 900;
  font-size: 2rem;
}

.container {
  max-width: var(--container-max-width);
  width: 100%;
  position: relative;
}

header {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 9;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
  color: inherit;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li {
  margin-left: 32px;
  display: flex;
  align-items: center;
  line-height: 1;
}

header nav ul li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
  margin-bottom: 1px;
  margin-right: 6px;
}

main {
  margin-top: 112px;
  position: relative;
}

section {
  height: 100vh;
}

section:last-of-type {
  height: 85vh;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 200px;
  color: var(--color-secondary);
}

.title span {
  display: inline-block;
  transform: translateY(200px);
}

.arcadeMachine {
  z-index: 10;
  position: absolute;
  top: 250px;
  right: 0;
  background-color: #1c1b2a;
  border-radius: 50px;
  height: 800px;
  width: 100%;
  transform: scale(3);
  overflow: hidden;
  background-size: 300px;
  background-repeat: repeat;
  background-position: center center;
}

.bigTitle {
  font-size: 11rem;
  margin-bottom: 0;
  line-height: 1;
  margin-top: 2rem;
}

.intro {
  display: flex;
  position: relative;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.intro p {
  flex: 1;
  max-width: 45%;
  font-size: 42px;
  margin-top: 120px;
}

.numbers {
  margin-bottom: 200px;
  display: flex;
}

.number:last-child {
  margin-left: 7rem;
}

.number span {
  font-size: 1.5rem;
}

.buttonWrap {
  position: absolute;
  z-index: 11;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttonWrap button {
  background-color: var(--color-secondary);
  padding: 18px 64px;
  font-weight: 600;
  font-family: var(--font-heading);
  font-size: 2rem;
  border: none;
  color: var(--color-dark-green);
}

.buttonWrap button::before,
.buttonWrap button::after {
  content: '';
  display: block;
  position: absolute;
  background-color: var(--color-secondary);
    height: 40px;
  width: 100%;
}

.buttonWrap button::before {
  top: -40px;
  left: 0;
}

.buttonWrap button::after {
  bottom: -40px;
  left: 0;
}

.calendar {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.calendar li {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  border-bottom: 3px solid var(--color-dark-green);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.calendar li span:first-child {
  font-size: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  padding-top: 5rem;
}

.item:nth-child(2) {
  margin-top: 2rem;
}

.item:nth-child(3) {
  margin-top: 4rem;
}

.itemImage {
  height: 300px;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

.itemInfo {
  display: flex;
  padding-top: 2rem;
}

.itemInfo .date {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}

.itemInfo .date span {
  text-transform: uppercase;
}

.itemInfo .date span:last-child {
  font-size: 2rem;
  font-weight: 900;
}

.itemTitle {
  font-family: var(--font-body);
  font-size: 2.5rem;
  margin-top: 0;
  padding-left: 1rem;
}

.itemImage img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-animation='fadeInUp'] {
  opacity: 0;
  transform: translateY(200px);
}

body[data-theme="primary"] {
  background-color: var(--color-primary);
  transition: backgroundColor 0.5s ease-out;
  color: var(--color-secondary);
}

body[data-theme="tertiary"] {
  background-color: var(--color-tertiary);
  transition: backgroundColor 0.5s ease-out;
  color: var(--color-dark-blue);
}

body[data-theme="secondary"] {
  background-color: var(--color-secondary);
  transition: backgroundColor 0.5s ease-out;
  color: var(--color-dark-green);
}
